import { Environment } from "./models/Environment";

export const config: Environment = {
    server: {
        useHttps: false,
        privateKey: '',
        certificate: '',
        port: 8080
    },
    sqlite: {
        path: ''
    },
    jwt: {
        secretOrPublicKey: '',
        options: {
            algorithms: ["HS256", "HS384"]
            /* see https://github.com/auth0/node-jsonwebtoken for validation options */
        }
    }
};
